.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.background_image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../public/image/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  filter: grayscale(100%);
}

.chat_container {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  position: relative;
  padding-bottom: 20px;
  min-width: 360px;
  margin: 1rem 0;
  box-sizing: border-box;
}

.chat_title {
  color: white;
  text-align: center;
}

.chat_title h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1rem 0;
}

.chat_title .introduction {
  font-size: 0.8rem;
  margin: 1rem 0;
  font-weight: 600;
}

.chat_title .intro_message {
  margin: 2rem 0;
  font-size: 24px;
  font-weight: 700;
}

.chat_title img {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.intro_question {
  color: white;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}

.intro_question select,
input,
button {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.label_title {
  display: block;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.start_btn {
  margin-top: 20px;
  background-color: #bb3838;
  border-radius: 20px;
  border: none;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
}

.loader {
  margin: 1rem 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 1s infinite cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.loader svg {
  color: #FFFFFF;
  display: inline-block;
  font-size: 25px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
